<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
    <insert id="insertSelective" parameterType="ltd.huangbinghui.vhr.model.MenuRole">
        insert into MenuRole
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mid != null">mid,</if>
            <if test="rid != null">rid,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mid != null">#{mid},</if>
            <if test="rid != null">#{rid},</if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="ltd.huangbinghui.vhr.model.MenuRole">
        update hrRole
        <set>
            <if test="mid != null">mid = #{mid},</if>
            <if test="rid != null">rid = #{rid},</if>
        </set>
        where id = #{id}
    </update>
</mapper>