<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
    <insert id="insertSelective" parameterType="ltd.huangbinghui.vhr.model.Position">
        insert into Position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="createDate != null">createDate,</if>
            <if test="enabled != null">enabled,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="enabled != null">#{enabled},</if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="ltd.huangbinghui.vhr.model.Position">
        update Position
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="createDate != null">createDate = #{createDate},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
        </set>
            where id = #{id}
    </update>
</mapper>